<div id="v3-carousel" class="carousel slide">
	<div class="v3-carousel-close-button-wrapper">
		<a class="v3-carousel-close-button"><img src="img/delete_dark.svg"></a>
	</div>
	<div class="carousel-inner">
		<div class="active item"><img draggable="false" src="img/v3_migration/migration_1.jpg" class="carousel-image"></div>
		<div class="item"><img draggable="false" src="img/v3_migration/migration_2.jpg" class="carousel-image"></div>
		<div class="item"><img draggable="false" src="img/v3_migration/migration_3.jpg" class="carousel-image"></div>
		<div class="item"><img draggable="false" src="img/v3_migration/migration_4.jpg" class="carousel-image"></div>
		<div class="item"><img draggable="false" src="img/v3_migration/migration_5.jpg" class="carousel-image"></div>
		<div class="item"><img draggable="false" src="img/v3_migration/migration_6.jpg" class="carousel-image"></div>
	</div>
	<ol class="carousel-indicators">
		<li data-target="#v3-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#v3-carousel" data-slide-to="1"></li>
		<li data-target="#v3-carousel" data-slide-to="2"></li>
		<li data-target="#v3-carousel" data-slide-to="3"></li>
		<li data-target="#v3-carousel" data-slide-to="4"></li>
		<li data-target="#v3-carousel" data-slide-to="5"></li>
	</ol>
	<div class="v3-carousel-button-wrapper">
		<a class="v3-carousel-button">Get it now, it's free</a>
	</div>
</div>

